
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
form {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 15%;
    left: 39%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="password"],
input[type="number"],
select {
    width: 91%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: center;
}
button{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.product h2 {
    font-size: 18px;
    margin: 0;
}

.product p {
    margin: 5px 0;
}

.product a {
    display: block;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}


.comments {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.comment p {
    margin: 5px 0;
}


.cart {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.cart-item p {
    margin: 5px 0;
}
